@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    0deg,
    rgba(87, 221, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

.dark {
  --background-color: hsl(235, 21%, 11%); /*background*/
  --todo-background: hsl(235, 24%, 19%); /*todo background*/
  --font-color: hsl(234, 39%, 85%);
  --border-color: hsl(234, 39%, 85%, 0.2); /*border*/
}

.light {
  --background-color: hsl(236, 33%, 92%); /*background*/
  --todo-background: hsl(0, 0%, 98%); /*todo background*/
  --font-color: hsl(235, 19%, 35%);
  --border-color: hsl(236, 33%, 92%); /*border*/
}

* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

/* scroll bar css style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.header {
  background: url(./images/bg-desktop-dark.jpg) no-repeat;
  background-size: cover;
  letter-spacing: 1.25rem;
}

@media only screen and (max-width: 425px) {
  .header {
    letter-spacing: 0.25rem;
  }
}

.form-item,
.todo-list {
  background-color: var(--todo-background);
  color: var(--font-color);
}

.submitBtn {
  /* border-color: var(--Light-Grayish-Blue); */
  border-color: var(--font-color);
}

.submitBtn:hover,
.hoverEff:hover {
  border-color: rgba(192, 88, 243, 1);
}

.submitBtn:active {
  background: url(./images/icon-check.svg) no-repeat center,
    var(--Check-Background);
}

.doneBtn {
  background: url(./images/icon-check.svg) no-repeat center,
    var(--Check-Background);
}

.show-close {
  display: none;
}

.show-close:hover {
  display: block;
}

.list-display {
  /* border-bottom: 1px solid var(--Very-Light-Grayish-Blue); */
  border-bottom: 1px solid var(--border-color);
}

.sort {
  bottom: -3rem;
}

.active-color {
  color: var(--Bright-Blue);
  opacity: 1;
}

.clear-completed:active {
  color: var(--Bright-Blue);
}
